<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nome Ricetta</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div ngbDropdown class="dropdown">
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
    Gestisci Ricetta
    </button>
      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
        <li><a ngbDropdownItem href="#">To  shopping list</a></li>
        <li><a ngbDropdownItem href="#">Modifica ricetta</a></li>
        <li><a ngbDropdownItem href="#">Elimina</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descrizione
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredienti
  </div>
</div>